*.o
*.lo
*.la
*.a
*.so
*.so.*
*.dylib
*.dll
*.exe
*.out
*.obj
*.s
.deps/
.libs/
.dirstamp
aclocal.m4
compile
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
Makefile
Makefile.in
config.h
config.h.in
config.log
config.status
stamp-h1
*.log
*.trs
test-suite.log
*.info
*.dvi
*.pdf
*.ps
*~
*.swp
*.swo
*.tmp
.DS_Store
Thumbs.db
libtool
mp_bases.h
sieve_table.h
trialdivtab.h
gmpxx.pc
gmp-mparam.h
gmp.h
gen-trialdivtab
gen-sieve
gen-psqr
gen-jacobitab
gen-fib
gen-bases
gen-fac
fac_table.h
fib_table.h
config.m4
gmp.pc
